
@media (max-width: 790px){
    .nav{
        width: 100vw;
        position: relative;
    }
    .nav-ul{
        width: 100%;
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        background: whitesmoke;
        font-weight: 500;
        padding: 0 20px;
    }

}

@media (min-width: 790px){

    .nav{
        width: 100vw;
        /* background-color: red; */
        padding: 40px 40px;
    }
    .brand-con{
        margin-left:70px ;

    }
    .nav-ul{
        display: flex;
        font-weight: 600;
    }
    .btn{
        border-bottom-right-radius: none;
        color: red;
        display: none;       
    }
}